In [ ]:
import numpy as np
import pandas as pd

# Impact of Pandemic
The below script takes the UNICEF dataset as input and creates a summarized version with the a new column showing how DTP first shot coverage changed between 2019 and 2020 for each country. This script depends on the ../data/unicef_dtp_first_shot_coverage_2010_2023.csv file that has the data exported from this [UNICEF data query](https://data.unicef.org/resources/data_explorer/unicef_f/?ag=UNICEF&df=GLOBAL_DATAFLOW&ver=1.0&dq=AFG+ALB+DZA+ASM+AND+AGO+AIA+ATG+ARG+ARM+ABW+AUS+AUT+AZE+BHS+BHR+BGD+BRB+BLR+BEL+BLZ+BEN+BMU+BTN+BOL+BES+BIH+BWA+BRA+VGB+BRN+BGR+BFA+BDI+CPV+KHM+CMR+CAN+CYM+CAF+TCD+CHI+CHL+HKG+CHN+COL+COM+COG+COK+CRI+CIV+HRV+CUB+CUW+CYP+CZE+PRK+COD+DNK+DJI+DMA+DOM+ECU+EGY+SLV+GNQ+ERI+EST+SWZ+ETH+FLK+FRO+FJI+FIN+FRA+GUF+PYF+GAB+GMB+GEO+DEU+GHA+GIB+GRC+GRL+GRD+GLP+GUM+GTM+GNB+GIN+GUY+HTI+VAT+HND+HUN+ISL+IND+IDN+IRN+IRQ+IRL+IMN+ISR+ITA+JAM+JPN+JOR+KAZ+KEN+KIR+XKX+KWT+KGZ+LAO+LVA+LBN+LSO+LBR+LBY+LIE+LTU+LUX+MAC+MDG+MWI+MYS+MDV+MLI+MLT+MHL+MTQ+MRT+MUS+MYT+MEX+FSM+MCO+MNG+MNE+MSR+MAR+MOZ+MMR+NAM+NRU+NPL+NLD+NCL+NZL+NIC+NER+NGA+MKD+NIU+MNP+NOR+OMN+TWN+PAK+PLW+PAN+PNG+PRY+PER+PHL+POL+PRT+PRI+QAT+KOR+MDA+REU+ROU+RUS+RWA+BLM+SHN+KNA+LCA+SXM+MAF+SPM+VCT+WSM+SMR+STP+SAU+SEN+SRB+SYC+SLE+SGP+SVK+SVN+SLB+SOM+ZAF+SSD+ESP+LKA+PSE+SDN+SUR+SWE+CHE+SYR+TJK+THA+TLS+TGO+TKL+TON+TTO+TUN+TUR+TKM+TCA+TUV+UGA+UKR+ARE+GBR+TZA+USA+URY+UZB+VUT+VEN+VNM+VIR+WLF+YEM+ZMB+ZWE+WHO_REG_GLOBAL+WHO_AFRO+WHO_AMRO+WHO_EMRO+WHO_EURO+WHO_SEARO+WHO_WPRO.IMMUNISATION+IM_DTP1..&startPeriod=2010&endPeriod=2020&lastnobservations=1).

In [ ]:
df = pd.read_csv("/content/unicef_dtp_first_shot_coverage_2010_2023.csv")

In [ ]:
df_countries = df[(~df['REF_AREA:Geographic area'].str.startswith('WHO'))  & ((df['TIME_PERIOD:Time period'] == 2019) | (df['TIME_PERIOD:Time period'] == 2020)| (df['TIME_PERIOD:Time period'] == 2021))]

In [ ]:
df_pivoted = df_countries.pivot_table('OBS_VALUE:Observation Value', ['REF_AREA:Geographic area'], 'TIME_PERIOD:Time period')

In [ ]:
df_pivoted['delta'] = df_pivoted[2020] - df_pivoted[2019]

In [ ]:
df_pivoted['delta_rank'] = df_pivoted['delta'].rank()

In [ ]:
df_pivoted

TIME_PERIOD:Time period    2019  2020  2021  delta  delta_rank
REF_AREA:Geographic area
AFG: Afghanistan             75    78    74      3       188.5
AGO: Angola                  67    61    57     -6        30.5
ALB: Albania                 99    99    98      0       125.0
AND: Andorra                 99    99    99      0       125.0
ARE: United Arab Emirates    99    90    96     -9        13.0
...                         ...   ...   ...    ...         ...
WSM: Samoa                   97    99    96      2       184.0
YEM: Yemen                   81    83    82      2       184.0
ZAF: South Africa            87    88    91      1       174.0
ZMB: Zambia                  94    88    94     -6        30.5
ZWE: Zimbabwe                94    93    93     -1        75.0

[195 rows x 5 columns]

In [ ]:
df_pivoted.to_csv("/content/unicef_dtp_first_shot_coverage_2010_2023_summary.csv")